.navbar {
  background-color: black;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar button {
  background-color: red; /* You can choose a different color for the logout button */
  color: white;
  border: none;
  cursor: pointer;
}
